<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="PicoAide">
<meta name="theme-color" content="#0f172a">
<meta name="color-scheme" content="light">

{{ if .IsHome }}<meta name="robots" content="index, follow">{{ end }}

{{ template "_internal/opengraph.html" . }}

<title>{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

{{ $css := resources.Get "css/main.css" }}
{{ if $css }}
  {{ $cssMin := $css | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $cssMin.RelPermalink }}" integrity="{{ $cssMin.Data.Integrity }}" media="all">
{{ else }}
  <link rel="stylesheet" href="/css/main.css">
{{ end }}

<link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relURL }}">
<link rel="apple-touch-icon" href="{{ "/images/logo-mark.svg" | relURL }}">
